[submodule "installer"]
	path = installer
	url = https://github.com/geosource-catalogue/core-installer.git
[submodule "maven_repo"]
	path = maven_repo
	url = https://github.com/geonetwork/core-maven-repo.git
[submodule "release"]
	path = release
	url = https://github.com/geosource-catalogue/core-release.git
[submodule "docs"]
	path = docs
	url = https://github.com/geonetwork/core-doc-sources.git
[submodule "web-itest/webspecs"]
	path = web-itest/webspecs
	url = https://github.com/camptocamp/webspecs.git
[submodule "geoserver"]
	path = geoserver
	url = https://github.com/geonetwork/core-geoserver.git
[submodule "jeevlet"]
	path = jeevlet
	url = https://github.com/geosource-catalogue/jeevlet.git
[submodule "schema-plugins"]
	path = schema-plugins
	url = https://github.com/geonetwork/schema-plugins.git
