/* KML links in menu */
.md-mn-kml {
  display: none;
}

/* Add WMS links in menu */
.addLayer, .addLayerIcon {
  display: none;
}

/* Search/visualization switcher */
#mode-form {
  display: none;
}


/* Add to map results toolbar action */
#x-menu-el-addLayerAction {
    display: none;
}

body > #east {
    display: none;
}

body > #east-xcollapsed {
    display: none !important;
}
